body {
    background-image: url('/static/img/rb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 700px;
    color: #ff0000;
    text-shadow: #404040;
}
.container{
    height: 100vh;
    width: 15in;
}

.encryptionHeader{
    text-align: center;
    box-shadow: 0px 3px #5d0000;
    color: #ff0000;
    text-shadow: 4px 4px #5d0000;
}
h1{
    /*font-family: 'Bitter', serif;*/
    /*font-family: 'Noto Sans', sans-serif;*/
    /*font-family: 'Pacifico', cursive;*/
}

.formbox{
    justify-content: right;
    margin:100px auto;
    width: 5in;
    height: 5in;
    border-radius: 10px 20px;
    box-shadow: 10px 13px #5d0000;
    background:transparent ;
    border: 3px solid #5d0000;

}

form input[type="submit"]{
    float: right;
    margin:15px;
    margin-right: 35px;

    background-color: red;
    width: 2.2in;
    padding: 10px;
    box-shadow: 4px 4px #5d0000;
    border-radius: 4px;
}
.container .formbox h1{
    margin-top: 50px;
    text-shadow:2px 1px #5d0000;
    text-align: center;
}

input, textarea{
    margin: 5px;
    margin-left: 40px;
    width: 4in;
    padding: 10px;
    resize: none;
    box-shadow: #2d2d2d 4px 4px;
    border-radius: 4px 10px;
}
label{
    width: 2in;
    font-family: 'Bitter', serif;
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
    color: red;
    margin:10px;
    border-radius: 3px;

}